@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*********** body and html setup ************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

/*********** background image ************/
html {
  background-image: url(./leandra-rieger-j_6KbM26FMU-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  height: 150%;
}

.header {
  background-color: #9cc4fe70;
  padding-bottom: 25px;
  box-shadow: 0px 3px 50px #333; /*! really good tip for styling*/
}

/************* Universal property **************/
.container {
  max-width: 80%;
  margin: 0 auto;
}

/*********** nav bar ************/
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 0;
}
.list-items {
  font-weight: 600;
  font-size: 1.3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}
.navbar a:hover {
  color: #ffffff;
}

.logo {
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: italic;
}

/*********** header-content ************/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

button {
  margin-top: 10px;
  padding: 6px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  background-color: #333;
  color: #ffffff;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
}
button:hover {
  background-color: #ffffff;
  color: #333;
}
.header-img {
  display: flex;
  justify-content: flex-end;
}
.header-img img {
  max-width: 80%;
  border-radius: 16px;
}

/*********************** content section *******************/

.content {
  padding: 30px 0 120px 0;
  background-color: #0000005c;
  text-align: center;
  box-shadow: 0px 0px 5px black;
}
.content-title h2 {
  color: black;
  margin: 20px 0;
  font-size: 2rem;
}
.content .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.box {
  background-color: #9ecdff94;
  padding: 30px 50px;
  border-radius: 10px;
}
.box i {
  font-size: 4rem;
  color: black;
}
.box img {
  width: 70px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.box h3 {
  margin: 25px 0 0 0;
  color: black;
}

/*********************** quotes section *******************/

.quote {
  background-color: #a1897496;
  padding: 180px 0;
  box-shadow: 0px 1px 20px #ffd7b496;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote .text {
  color: black;
  font-size: 2.25rem;
}

/*********************** call to action section *******************/
.call-to-action {
  /* background-color: #ffffffc4; */
  background-color: #0000005c;
  padding: 138px 0;
  box-shadow: 1px 1px 50px black;
}
.call-to-action .container {
  background-color: #ffffff;
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  padding: 50px 0;
  border-radius: 10px;
}

.call-to-action .container button:hover {
  background-color: #b7b7b7;
  color: white;
}

/*********************** footer *******************/
footer {
  background-color: #000000ad;
  margin-top: auto;
  box-shadow: 0px 5px 50px black; /*! really good tip for styling*/
  height: 100px;
}

.copy-right-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
